body {
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color:white;
    text-align: center;
    padding: 1px;
}
section{
    padding: 20px;
    margin: 10px auto;
    border-radius: 8px;
    width: 80%;
    background:radial-gradient(rgb(169, 22, 169),rgb(255, 255, 255),rgb(169, 22, 169));
}
table {
    width: 100%;
    border-collapse: collapse;
    border: rgb(253, 251, 251) 3px;
}
th{
    background-color: white;
    padding: 10px;
}
td{
    padding: 10px;
}
.sec2{
    text-align: left;
    padding: 20px;
    margin: 10px auto;
    border-radius: 8px;
    width: 80%;
    background:radial-gradient(rgb(169, 22, 169),rgb(255, 255, 255),rgb(169, 22, 169));
}
form {
    text-align: left;
}
input{
    padding: 10px;
    margin: 5px;
    width: 90%;
    border: none;
    border-radius: 5px;
}
button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
form input {
    background: rgba(255, 255, 255, 0.7);
}
form button {
    background: #381ff2;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: #381ff2;
}
div{
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(227, 224, 224);
}
.sec3{
margin-top: 40px;
}
.div3{
text-align: left;
padding: 30px;
}
.p1{
color: #fff;
}
.newsletter{
    text-align:left;
}